.nav {
  font-family: kepler-std-semicondensed-sub, serif;
  font-weight: 700;
  font-style: italic;

  display: flex;
  padding: 2rem;
  align-items: center;
}

.nav a {
  text-decoration: none;
  display: inline-block;
}

.nav a + a {
  margin-left: 1rem;
}

.nav button {
  border: none;
  background: none;
  font: inherit;
}

.nav p {
  display: inline-block;
  font-size: 13px;
  padding-right: 1rem;
}

.bold {
  font-weight: bold;
}

.left a[data-active='true'] {
  text-decoration: underline;
}

.right {
  margin-left: auto;
}

.right a {
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
